$background: #F4F5F9;

$primary_color: #713BDB;
$secondary_color: #33D69F;

$background_gradient: linear-gradient(90deg, #ECECEC 0%, #F2F1F1 111.47%);
$secondary_gradient: linear-gradient(90deg, #33D69F 0%, #50EDB8 111.47%);
$primary_gradient: linear-gradient(90deg, #713BDB 0%, #A886E9 111.47%);

$avatar_gradient: linear-gradient(360deg, #0B6666 0%, rgba(11, 102, 102, 0) 88.46%);

$main_font_color: #42474A;
$menu_font_color: #A2A4B9;
$menu_hello_color: #888CB7;

